.div-config {
    width: 5rem;
    background-color: var(--bg-toggle-config);
    border-radius: 20px;
}

.div-config div {
    width: 1.3rem;
    height: 1.3rem;
    background-color: var(--color-circle-config);
}

.div-config div:hover {
    cursor: pointer;
}

.modal-title {
    color: var(--color-title-config) !important;
}

.modal-content {
    background-color: var(--bg-modal-config) !important;
    border-color: var(--border-modal-config) !important;
}

.modal-content p {
    color: var(--color-title-config);
}

body {
    background-color: var(--bg-color);
}