:root,
:root.default {
    --bg-color: #FFF;
    --color-primary: #004A8D;
    --color-secondary: #F7941D;
    --color-person: #FFF;
    --color-text: #004A8D;
    --color-circle: #FFF;
    --color-icons-footer: #FFF;
    --color-footer: #004A8D;
    --color-header: #FFF;
    --bg-person: #004A8D;
    --color-bell: #F7941D;
    --color-p: #004A8D;
    --color-border-top-footer: #004A8D;
    --color-p-dropdown: #004A8D;
    --color-p2-dropdown: #FF0000;
    --dropdown-divider: #B3B3B3;
    --bg-dropdown: #FFFFFF;
    --color-icon: #FFF;
    --color-icons-main: #F7941D;
    --color-button-financeiro: #004A8D;
    --color-p-documentacao: #000;
    --color-div-documentacao: #FFF;
    --color-h2-documentacao: #000;
    --bg-modal-config: #FFF;
    --border-modal-config: #B3B3B3;
    --bg-toggle-config: #FFF;
    --color-circle-config: #004A8D;
    --color-title-config: #000;
    --color-frequencia: #BCBCBC;
    --color-mouth: #FFF;
    --color-hour: #198754;
    --color-hour-2: #FF0000;
}
:root.dark {
    --bg-color: #0E0E0E;
    --color-primary: #FAFAFA;
    --color-secondary: #F7941D;
    --color-person: #000;
    --color-text: #FAFAFA;
    --color-circle: #F7941D;
    --color-icons-footer: #FFF;
    --color-footer: #000;
    --color-header: #000;
    --bg-person: #FFF;
    --color-bell: #F7941D;
    --color-p: #FAFAFA;
    --color-border-top-footer: #000;
    --color-p-dropdown: #FFF;
    --color-p2-dropdown: #FF0000;   
    --dropdown-divider: #FFF;
    --bg-dropdown: #26282D;
    --color-icon: #F7941D;
    --color-icons-main: #FFF;
    --color-button-financeiro: #F7941D;
    --color-p-documentacao: #FFF;
    --color-div-documentacao: #777373;
    --color-h2-documentacao: #FFF;
    --bg-modal-config: #0E0E0E;
    --border-modal-config: #FFF;
    --bg-toggle-config: #FFF;
    --color-circle-config: #F7941D;
    --color-title-config: #FFF;
    --color-frequencia: #FFF;
    --color-mouth: #FFF;
    --color-hour: #198754;
    --color-hour-2: #FF0000;
}
:root.accessibility {
    --bg-color: #000;
    --color-primary: #000;
    --color-secondary: #FFFF00;
    --color-person: #000;
    --color-text: #FFFF00;
    --color-circle: #FFFF00;
    --color-icons-footer: #FFFF00;
    --color-footer: #000;
    --color-header: #FFFF00;
    --bg-person: #FFF;
    --color-bell: #17A1FA;
    --color-p: #000;
    --color-border-top-footer: #FFFF00;
    --color-p-dropdown: #FFFF00;
    --color-p2-dropdown: #17A1FA;   
    --dropdown-divider: #FFF;
    --bg-dropdown: #000;
    --color-icon: #FFFF00;
    --color-icons-main: #000;
    --color-button-financeiro: #FF0000;
    --color-p-documentacao: #000;
    --color-div-documentacao: #FFFF00;
    --color-h2-documentacao: #FFF;
    --bg-modal-config: #000;
    --border-modal-config: #FFF;
    --bg-toggle-config: #FFF;
    --color-circle-config: #FF0000;
    --color-title-config: #FFFF00;
    --color-frequencia: #FFF;
    --color-mouth: #000;
    --color-hour: #198754;
    --color-hour-2: #FF0000;
}